absl==0.0
absl_py==1.2.0
matplotlib==3.5.3
numpy==1.23.2
object_detection==0.0.3
Pillow==9.4.0
protobuf==4.21.12
psutil==5.9.1
ray==2.2.0
tensorflow==2.11.0
tensorflow_gpu==2.9.1
waymo_open_dataset==1.0.1
